body{
    background-color: black;
    font-family: Helvetica, Arial, sans-serif
}




.body{
    display: flex;
    flex-direction: column;

    
    margin: -10px 2vw 0px 2vw;
    height: 500px;
}

/*First Container*/
.first-container{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 500px;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;

   
}

.header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 125px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.desc-img{
    display: flex;
    flex-direction:row;

}
/* change later */
.img{ 
    display: flex;
    margin-left: auto;
    height: 250px;
    width: auto;
}

.description{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.text{
    color: #e5e7ebd5;
    font-size: 18px;
    font-weight: 100;
}

.hero-header{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;

}

.push-right{
    margin-left:auto;
}

.hero-main{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.button{
    display: flex;
    align-self: flex-start;
    padding: 10px 30px;
    margin-top: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    border-radius: 10px;
    border-style: none;
}

#image-large{
    height: auto;
    width: 400px;
    border-style: solid;
    border-color: lightgray;
}


/* Second Container */

.second-container{
    display: flex;
    height: 443px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.second-container-flex{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.horizontal-images{
    max-width: 200px;
    text-align: center;
}

.horizontal-images .text{
    color: #1F2937;
}
.second-container .hero-main{
    color: #1F2937;
    font-size: 30px;
}

img{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 25px;
    border-color: skyblue;
}

/* Third Container pls work */

.third-container{
    display: flex;
    flex-direction: column;
    min-height: 300px;

    background-color: #E5E7EB;
    max-width: 94vw;
    justify-content: center;
    padding: 0px 328px;
    gap: 10px;

}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;

}

.quote-small{
    font-size: 20px;
    font-weight: 700px;
    margin-left: auto;
}

/* Fourth Container */

.fourth-container{
    display: flex;
    background-color:white;
    justify-content: center;
    padding: 75px;
}

.action-box{
    display:flex;
    background-color:#3882F6;
    padding: 40px 100px;
    border-style:none;
    border-radius: 5px;
    gap: 100px;
}

.action-desc{
    display: flex;
    flex-direction:column;
}

.action-desc .text{
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 700;
}

.text-small{
    font-size: 12px;
    font-weight: lighter;
    color: #F9FAF8;
}

.bottom-button{
    background-color: #3882F6;
    border-style: solid;
    border-width:1px;
    border-color: white;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

.footer{
    text-align: center;
    background-color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;

}