body{
    background-color: black;
    font-family: Helvetica, Arial, sans-serif
}




.body{
    display: flex;
    flex-direction: column;

    
    margin: -10px 2vw 0px 2vw;
    height: 500px;
}

/*First Container*/
.first-container{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 500px;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;

   
}

.header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 125px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.desc-img{
    display: flex;
    flex-direction:row;

}
/* change later */
.img{ 
    display: flex;
    margin-left: auto;
    height: 250px;
    width: auto;
    border-style: solid;
    border-radius: 1px;
    border-color: rgba(192, 46, 46, 0.492);
}

.description{
    display: flex;
    flex-direction: column;
}

.text{
    color: #e5e7ebd5;
    font-size: 18px;
    font-weight: 100;
}

.hero-header{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;

}

.push-right{
    margin-left:auto;
}

.hero-main{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.button{
    display: flex;
    align-self: flex-start;
}

#image-large{
    height: auto;
    width: 400px;
}


/* Second Container */

.second-container{
    display: flex;
    height: 500px;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.second-container-flex{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.horizontal-images{
    max-width: 200px;
    text-align: center;
}

.horizontal-images .text{
    color: black;
}
.second-container .hero-main{
    color: black;
    font-size: 30px;
}

img{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 25px;
    border-color: skyblue;
}